@font-face {
    font-family: Odin;
    src: url(Norse-Bold.otf);
  }
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .content {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: aliceblue;
  }
  html {
    font-size: 62.5%;
  }
  .pic {
    background-image: url(/images/pic.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    width: 40vw;
  }
  .logo {
    width: 8vw;
    height: 16vh;
  }
  .odinCont {
    padding-top: 10em;
    display: flex;
    justify-content: center;
  }
  .odin {
    font-size: 16em;
    font-family: 'Odin';
  }
  .signup {
    height: 100vh;
    background-color: black;
    width: 60vw;
  }
  .top {
    padding-top: 3vh;
    padding-left: 4vw;
    padding-right: 5vw;
  }
  .top > .heading1, .heading2 {
    font-family: 'Poppins', sans-serif;
    padding-top: 4vh;
    padding-left: 3vw;
  }
  .heading1 {
    font-size: 4.5em;
  }
  .heading2 {
    font-size: 3em;
    padding-bottom: 3em;
  }
  .form {
    display: flex;
    flex-flow: column wrap;
    height: 35vh;
    padding-top: 3em;
    background-color:  #121212;
    padding-bottom: 3em;
  }
  .formGrid {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding-top: 2em;
    padding-left: 5em;
  }
  .formGrid > label {
    font-size: 3em;
    padding-bottom: .3em;
  }
  .formGrid > input {
    width: 80%;
  }
  
  button {
    background-color: black;
    color: yellow;
    font-size: 4rem;
    padding: 10px 40px;
    border: 2px solid yellow;
    border-radius: 5px;
  }
  button:hover {
    background-color: yellow;
    color:black;
  
  }
  .buttonCont {
    padding-top: 5vh;
    padding-left: 6vw;
  }
  .log-in > p {
    padding-left: 6vw;
    padding-top: 1em;
    font-size: 4em;
  }
  .log-in > a {
    padding-left: 6vw;
    font-size: 3em;
    text-decoration: none;
    color: yellow;
  }
  
  /* mobile stoof */
  
  @media only screen and (max-width: 950px) {
    .content{
      flex-flow: column;
    }
    .pic {
      background-size: 100vw;
      width: 100vw;
      height: 40vh;
    }
    .odinCont {
      display: flex;
      justify-content: center;
      padding-top: 1em;
  
    }
    .signup {
      background-color: black;
      height: auto;
      width: 100vw;
      border-top: 0.6px solid yellow;
      border-left: 0px;
    }
    .logo {
      width: 20vw;
      height: 9em;
  
    }
    .odin {
      font-family: Norse-Bold;
      font-size: 9em;
    }
    .top > .heading1, .heading2 {
      padding-left: 0em;
      padding-top: 0em;
      text-align: center;
      padding-top: .5em;
    }
    .heading1 {
      font-size: 3em;
    }
    .heading2 {
      font-size: 2em;
      padding-bottom: 1em;
    }
    .form {
      flex-flow: column;
      justify-content: center;
      height: auto;
      padding-top: 0px;
    }
    .formGrid {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      width: auto;
      font-size: 2em;
      padding-top:1em;
      padding-left: 0px;
    }
    .formGrid > input {
      width: 60%;
    }
    .formGrid > label {
      font-size: 1em;
  
    }
    .submitButton {
      align-self: center;
  
    }
    .buttonCont {
      display: flex;
      padding-top: 3em;
      justify-content: center;
      padding-left: 0px;
    }
    .log-in {
      text-align: center;
    }
    .log-in > p {
      font-size: 3em;
      padding-left: 0;
    }
    .log-in > a {
      padding-left: 0;
    }
  }
  